<h1>This is your lego</h1>


<%= "Name:   #{@lego.name}"%><br>
<%= "Color:  #{@lego.color}"%><br>
<%= "Theme:  #{@lego.theme}"%><br>
<%= "Gender: #{@lego.gender}"%><br>
<%= "Trump Supporter:  #{@lego.trump}"%><br>

<%= link_to "go to index", legos_path%>